<% layout('layouts/boilerplate') %>
<h1>Edit Vehicle</h1>
<form action="/vehicles/<%=vehicle._id%>?_method=PUT" method="POST">
	<div>
		<label for="name">Name</label>
		<input type="text" id="name" name="vehicle[name]" value="<%=vehicle.name%>">
	</div>
	<div>
		<label for="location">Location</label>
		<input type="text" id="location" name="vehicle[location]" value="<%=vehicle.location%>">
	</div>
	<button>Update Vehicle</button>
</form>
<div>
	<a href="/vehicles/<%= vehicle._id %>">Back To Vehicle</a>
</div>