<% layout('layouts/boilerplate') %>
<h1>All Vehicles</h1>
<div>
	<a href="/vehicles/new">Add Vehicle</a>
</div>
<ul>
	<% for (let vehicle of vehicles){ %>
		<li><a href="/vehicles/<%= vehicle._id %>"><%= vehicle.name %></a></li></li>
	<% } %>
</ul>